<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jst.message.mapper.JstMessageMapper">

    <insert id="insertJstMessage" parameterType="com.ruoyi.jst.message.domain.JstMessage" useGeneratedKeys="true"
            keyProperty="messageId">
        insert into jst_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="readStatus != null">read_status,</if>
            <if test="bizType != null and bizType != ''">biz_type,</if>
            <if test="bizId != null">biz_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="readStatus != null">#{readStatus},</if>
            <if test="bizType != null and bizType != ''">#{bizType},</if>
            <if test="bizId != null">#{bizId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>
</mapper>

