<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jst.organizer.mapper.JstEventPartnerApplyMapper">
    
    <resultMap type="JstEventPartnerApply" id="JstEventPartnerApplyResult">
        <result property="applyId"    column="apply_id"    />
        <result property="applyNo"    column="apply_no"    />
        <result property="partnerId"    column="partner_id"    />
        <result property="partnerName"    column="partner_name"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactMobile"    column="contact_mobile"    />
        <result property="businessLicenseNo"    column="business_license_no"    />
        <result property="qualificationJson"    column="qualification_json"    />
        <result property="settlementInfoJson"    column="settlement_info_json"    />
        <result property="invoiceInfoJson"    column="invoice_info_json"    />
        <result property="contractFilesJson"    column="contract_files_json"    />
        <result property="applyStatus"    column="apply_status"    />
        <result property="supplementRemark"    column="supplement_remark"    />
        <result property="auditRemark"    column="audit_remark"    />
        <result property="auditUserId"    column="audit_user_id"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectJstEventPartnerApplyVo">
        select apply_id, apply_no, partner_id, partner_name, contact_name, contact_mobile, business_license_no, qualification_json, settlement_info_json, invoice_info_json, contract_files_json, apply_status, supplement_remark, audit_remark, audit_user_id, submit_time, audit_time, create_by, create_time, update_by, update_time, remark, del_flag from jst_event_partner_apply
    </sql>

    <select id="selectJstEventPartnerApplyList" parameterType="JstEventPartnerApply" resultMap="JstEventPartnerApplyResult">
        <include refid="selectJstEventPartnerApplyVo"/>
        <where>  
            <if test="applyNo != null  and applyNo != ''"> and apply_no = #{applyNo}</if>
            <if test="partnerId != null "> and partner_id = #{partnerId}</if>
            <if test="partnerName != null  and partnerName != ''"> and partner_name like concat('%', #{partnerName}, '%')</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactMobile != null  and contactMobile != ''"> and contact_mobile = #{contactMobile}</if>
            <if test="businessLicenseNo != null  and businessLicenseNo != ''"> and business_license_no = #{businessLicenseNo}</if>
            <if test="qualificationJson != null  and qualificationJson != ''"> and qualification_json = #{qualificationJson}</if>
            <if test="settlementInfoJson != null  and settlementInfoJson != ''"> and settlement_info_json = #{settlementInfoJson}</if>
            <if test="invoiceInfoJson != null  and invoiceInfoJson != ''"> and invoice_info_json = #{invoiceInfoJson}</if>
            <if test="contractFilesJson != null  and contractFilesJson != ''"> and contract_files_json = #{contractFilesJson}</if>
            <if test="applyStatus != null  and applyStatus != ''"> and apply_status = #{applyStatus}</if>
            <if test="supplementRemark != null  and supplementRemark != ''"> and supplement_remark = #{supplementRemark}</if>
            <if test="auditRemark != null  and auditRemark != ''"> and audit_remark = #{auditRemark}</if>
            <if test="auditUserId != null "> and audit_user_id = #{auditUserId}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
        </where>
    </select>
    
    <select id="selectJstEventPartnerApplyByApplyId" parameterType="Long" resultMap="JstEventPartnerApplyResult">
        <include refid="selectJstEventPartnerApplyVo"/>
        where apply_id = #{applyId}
    </select>

    <insert id="insertJstEventPartnerApply" parameterType="JstEventPartnerApply" useGeneratedKeys="true" keyProperty="applyId">
        insert into jst_event_partner_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyNo != null and applyNo != ''">apply_no,</if>
            <if test="partnerId != null">partner_id,</if>
            <if test="partnerName != null and partnerName != ''">partner_name,</if>
            <if test="contactName != null and contactName != ''">contact_name,</if>
            <if test="contactMobile != null and contactMobile != ''">contact_mobile,</if>
            <if test="businessLicenseNo != null">business_license_no,</if>
            <if test="qualificationJson != null and qualificationJson != ''">qualification_json,</if>
            <if test="settlementInfoJson != null and settlementInfoJson != ''">settlement_info_json,</if>
            <if test="invoiceInfoJson != null and invoiceInfoJson != ''">invoice_info_json,</if>
            <if test="contractFilesJson != null and contractFilesJson != ''">contract_files_json,</if>
            <if test="applyStatus != null and applyStatus != ''">apply_status,</if>
            <if test="supplementRemark != null">supplement_remark,</if>
            <if test="auditRemark != null">audit_remark,</if>
            <if test="auditUserId != null">audit_user_id,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyNo != null and applyNo != ''">#{applyNo},</if>
            <if test="partnerId != null">#{partnerId},</if>
            <if test="partnerName != null and partnerName != ''">#{partnerName},</if>
            <if test="contactName != null and contactName != ''">#{contactName},</if>
            <if test="contactMobile != null and contactMobile != ''">#{contactMobile},</if>
            <if test="businessLicenseNo != null">#{businessLicenseNo},</if>
            <if test="qualificationJson != null and qualificationJson != ''">#{qualificationJson},</if>
            <if test="settlementInfoJson != null and settlementInfoJson != ''">#{settlementInfoJson},</if>
            <if test="invoiceInfoJson != null and invoiceInfoJson != ''">#{invoiceInfoJson},</if>
            <if test="contractFilesJson != null and contractFilesJson != ''">#{contractFilesJson},</if>
            <if test="applyStatus != null and applyStatus != ''">#{applyStatus},</if>
            <if test="supplementRemark != null">#{supplementRemark},</if>
            <if test="auditRemark != null">#{auditRemark},</if>
            <if test="auditUserId != null">#{auditUserId},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateJstEventPartnerApply" parameterType="JstEventPartnerApply">
        update jst_event_partner_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyNo != null and applyNo != ''">apply_no = #{applyNo},</if>
            <if test="partnerId != null">partner_id = #{partnerId},</if>
            <if test="partnerName != null and partnerName != ''">partner_name = #{partnerName},</if>
            <if test="contactName != null and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactMobile != null and contactMobile != ''">contact_mobile = #{contactMobile},</if>
            <if test="businessLicenseNo != null">business_license_no = #{businessLicenseNo},</if>
            <if test="qualificationJson != null and qualificationJson != ''">qualification_json = #{qualificationJson},</if>
            <if test="settlementInfoJson != null and settlementInfoJson != ''">settlement_info_json = #{settlementInfoJson},</if>
            <if test="invoiceInfoJson != null and invoiceInfoJson != ''">invoice_info_json = #{invoiceInfoJson},</if>
            <if test="contractFilesJson != null and contractFilesJson != ''">contract_files_json = #{contractFilesJson},</if>
            <if test="applyStatus != null and applyStatus != ''">apply_status = #{applyStatus},</if>
            <if test="supplementRemark != null">supplement_remark = #{supplementRemark},</if>
            <if test="auditRemark != null">audit_remark = #{auditRemark},</if>
            <if test="auditUserId != null">audit_user_id = #{auditUserId},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where apply_id = #{applyId}
    </update>

    <delete id="deleteJstEventPartnerApplyByApplyId" parameterType="Long">
        delete from jst_event_partner_apply where apply_id = #{applyId}
    </delete>

    <delete id="deleteJstEventPartnerApplyByApplyIds" parameterType="String">
        delete from jst_event_partner_apply where apply_id in 
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>
</mapper>