<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jst.points.mapper.lookup.RefundRecordLookupMapper">

    <sql id="AftersaleColumns">
        r.refund_id as refundId,
        r.refund_no as refundNo,
        r.order_id as orderId,
        r.item_id as exchangeId,
        e.exchange_no as exchangeNo,
        e.user_id as userId,
        e.goods_id as goodsId,
        g.goods_name as goodsName,
        g.goods_type as goodsType,
        g.cover_image as coverImage,
        r.refund_type as refundType,
        r.reason,
        r.apply_cash as applyCash,
        r.apply_points as applyPoints,
        r.actual_cash as actualCash,
        r.actual_points as actualPoints,
        r.status,
        e.aftersale_status as aftersaleStatus,
        r.audit_remark as auditRemark,
        e.status as exchangeStatus,
        e.logistics_company as logisticsCompany,
        e.logistics_no as logisticsNo,
        e.address_snapshot_json as addressSnapshot,
        e.cash_amount as cashAmount,
        e.points_used as pointsUsed,
        e.ship_time as shipTime,
        e.complete_time as exchangeCompleteTime,
        r.create_time as createTime,
        r.complete_time as completeTime,
        r.remark as refundRemark,
        o.order_no as orderNo,
        o.order_status as orderStatus,
        o.pay_method as payMethod,
        p.payment_id as paymentId,
        p.payment_no as paymentNo,
        p.third_party_no as thirdPartyNo,
        p.pay_status as payStatus
    </sql>

    <sql id="AftersaleJoins">
        from jst_refund_record r
        inner join jst_mall_exchange_order e
                on e.exchange_id = r.item_id
               and e.del_flag = '0'
        left join jst_mall_goods g
               on g.goods_id = e.goods_id
              and g.del_flag = '0'
        left join jst_order_main o
               on o.order_id = e.order_id
              and o.del_flag = '0'
        left join jst_payment_record p
               on p.payment_id = (
                    select pp.payment_id
                    from jst_payment_record pp
                    where pp.order_id = e.order_id
                      and pp.del_flag = '0'
                    order by pp.payment_id desc
                    limit 1
               )
        where r.del_flag = '0'
          and r.refund_type in ('refund_only', 'return_refund')
    </sql>

    <select id="selectMyList" resultType="com.ruoyi.jst.points.vo.AftersaleListVO">
        select <include refid="AftersaleColumns"/>
        <include refid="AftersaleJoins"/>
          and e.user_id = #{userId}
        <if test="statuses != null and statuses.size() > 0">
            and r.status in
            <foreach collection="statuses" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        order by r.create_time desc, r.refund_id desc
    </select>

    <select id="selectAdminList" resultType="com.ruoyi.jst.points.vo.AftersaleListVO">
        select <include refid="AftersaleColumns"/>
        <include refid="AftersaleJoins"/>
        <if test="query != null and query.refundId != null">
            and r.refund_id = #{query.refundId}
        </if>
        <if test="query != null and query.refundNo != null and query.refundNo != ''">
            and r.refund_no = #{query.refundNo}
        </if>
        <if test="query != null and query.userId != null">
            and e.user_id = #{query.userId}
        </if>
        <if test="query != null and query.exchangeId != null">
            and e.exchange_id = #{query.exchangeId}
        </if>
        <if test="statuses != null and statuses.size() > 0">
            and r.status in
            <foreach collection="statuses" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        order by r.create_time desc, r.refund_id desc
    </select>

    <select id="selectDetail" resultType="com.ruoyi.jst.points.vo.AftersaleDetailVO">
        select <include refid="AftersaleColumns"/>
        <include refid="AftersaleJoins"/>
          and r.refund_id = #{refundId}
        limit 1
    </select>

    <select id="selectBizDetail" resultType="map">
        select <include refid="AftersaleColumns"/>
        <include refid="AftersaleJoins"/>
          and r.refund_id = #{refundId}
        limit 1
    </select>

    <select id="selectByRefundNo" resultType="map">
        select refund_id as refundId,
               refund_no as refundNo
        from jst_refund_record
        where refund_no = #{refundNo}
          and del_flag = '0'
        limit 1
    </select>

    <select id="countBlockingByExchangeId" resultType="int">
        select count(1)
        from jst_refund_record
        where item_id = #{exchangeId}
          and refund_type in ('refund_only', 'return_refund')
          and status in ('pending', 'approved', 'refunding')
          and del_flag = '0'
    </select>

    <insert id="insertRefundRecord">
        insert into jst_refund_record (
            refund_no, order_id, item_id, refund_type, apply_source, reason,
            apply_cash, apply_points, status, remark,
            create_by, create_time, update_by, update_time, del_flag
        ) values (
            #{refundNo}, #{orderId}, #{itemId}, #{refundType}, #{applySource}, #{reason},
            #{applyCash}, #{applyPoints}, #{status}, #{remark},
            #{createBy}, #{createTime}, #{createBy}, #{createTime}, '0'
        )
    </insert>

    <update id="updateStatusByExpected">
        update jst_refund_record
        set status = #{targetStatus},
            <if test="auditRemark != null">audit_remark = #{auditRemark},</if>
            <if test="actualCash != null">actual_cash = #{actualCash},</if>
            <if test="actualPoints != null">actual_points = #{actualPoints},</if>
            <if test="couponReturned != null">coupon_returned = #{couponReturned},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_by = #{updateBy},
            update_time = #{updateTime}
        where refund_id = #{refundId}
          and status = #{expectedStatus}
          and del_flag = '0'
    </update>
</mapper>
